@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --header-height: 3rem;

  /*=============== CORES ===============*/
  --hue-color: 188;

  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;

  --body-font: "Rubik", sans-serif;

  /*============= FONTS =============*/
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*============= FONTS Weigth =============*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*============= MARGENES BOTTOM =============*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*============= Z INDEX =============*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  margin: 0 0 var(--header-height) 0;
  background-color: var(--body-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-size: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*================ CLASS CSS =================*/
.section {
  padding: 2rem 0 4rem;
}

.section_title {
  font-size: var(--h1-font-size);
}

.section_subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle {
  text-align: center;
}

/*================ LAYOUT =================*/

.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  gap: 1.5rem;
  display: grid;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*================ MENU =================*/

.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav-logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.1em;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
}

.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav-link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover {
  color: var(--first-color-alt);
}

/*show-menu*/

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    bottom: -200%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, -0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 3s;
  }
}

.show-menu {
  bottom: 0;
}

/*=============== HOME ===============*/
.home_container {
  gap: 1rem;
}

.home__content {
  align-items: center;
  padding-top: 3.5rem;
  grid-template-columns: 0.5fr 3fr;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.25rem;
  columns: var(--first-color);
}

.home__social-icon:hover {
  color: var(--first-color-alt);
}

.home__blob {
  width: 200px;
  fill: var(--first-color);
}

.home__blob-img {
  width: 170px;
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: var(--big-font-size);
}

.home__subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description {
  margin-bottom: var(--mb-2);
}

.home-scroll {
  display: none;
}

.home__scroll-button {
  color: var(--first-color);
  transition: 0.3s;
}

.home__scroll-button:hover {
  transform: translateY(0.25rem);
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
  font-size: 1.25rem;
}

/*=============== BUTTONS ===============*/

.button {
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  display: inline-block;
  font-weight: var(--font-medium);
  background-color: var(--first-color);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  transition: 0.3s;
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
}

.button-flex {
  display: inline-flex;
  align-items: center;
}

/*=============== ABOUT ===============*/
.about__img {
  width: 200px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.about__description {
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about__info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about__info-name {
  font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name {
  display: block;
  text-align: center;
}

.about__buttons {
  display: flex;
  justify-content: center;
}

/* =============== SKILLS ============== */
.skills__container {
  row-gap: 0;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills__icon,
.skills__arrow {
  font-size: 2rem;
  color: var(--first-color);
}

.skiils__icon {
  margin-right: var(--mb-0-75);
}

.skills__title {
  font-size: var(--h3-font-size);
}

.skills__subtitle {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
}

.skills__arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills__list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills__name {
  font-weight: var(--font-medium);
  font-size: var(--normal-font-size);
}

.skills__bar,
.skills__percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills__bar {
  background-color: var(--first-color-lighter);
}

.skills__percentage {
  display: block;
  background-color: var(--first-color);
}

.skills__html {
  width: 90%;
}

.skills__css {
  width: 80%;
}

.skills__js {
  width: 60%;
}

.skills__react {
  width: 85%;
}

.skills__php {
  width: 60%;
}

.skills__node {
  width: 80%;
}

.skills__firebase {
  width: 80%;
}

.skills__java {
  width: 20%;
}

.skills__figma {
  width: 90%;
}

.skills__photoshop {
  width: 80%;
}

.skills-close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills-open .skills__list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills-open .skills__arrow {
  transform: rotate(-180deg);
}

/* =============== QUALIFICATION ================= */
.qualification-tabs {
  display: flex;
  margin-bottom: var(--mb-2);
  justify-content: space-evenly;
}

.qualification-button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification-button:hover {
  color: var(--first-color);
}

.qualification-icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification-data {
  display: grid;
  column-gap: 1.5rem;
  grid-template-columns: 1fr max-content 1fr;
}

.qualification-title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification-subtitle {
  display: inline-block;
  margin-bottom: var(--mb-1);
  font-size: var(--small-font-size);
}

.qualification-calendar {
  color: var(--text-color-light);
  font-size: var(--smaller-font-size);
}

.qualification-rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--first-color);
}

.qualification-line {
  display: block;
  width: 1px;
  height: 100%;
  transform: translate(6px, -7px);
  background-color: var(--first-color);
}

.qualification [data-content] {
  display: none;
}

.qualification-active[data-content] {
  display: block;
}

.qualification-button.qualification-active {
  color: var(--first-color);
}
